header div{
    display:inline-flex
    
}
#highscore {
    color: tomato;
}

#timer {
    color: green;
    float: right;
}

section{
    margin: 100px;
    border: 50px;
    padding: 25px;
}
#codingquiz {
    text-align: center;
    font-size: 40px;
}

#instructions {
    text-align: center;
    font-size: 25px;
}

.controls {
    text-align: center;
}

.btn {
        background-color: purple;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
}